.footm {
    margin-top: 240px;
}

.foot {
    background-color: #407BFF;
    height: 350px;
}

.foot2 {
    background-color: #262254;
    height: 350px;

}

.icon-color {
    color: #fff;
}

.sosmed {
    padding-top: 120px;
    font-size: 50px;
}


.sosmed1 {
    font-family: 'Poppins';
    color: #fff;
    margin-top: 90px;
    font-size: 20px;
    font-weight: 500;
}
