@media only screen and (max-width: 1366px) {

    .navbar-nav .nav-link {
        margin-right: 20px !important;
    }

    .logo {
        width: 100px;
    }

    .gambar {
        display: none;
    }

    .judulano {
        margin-top: 50px;
    }

    .footm {
        margin-top: 140px;
    }

    .copyr {
        font-weight: 500;
        font-family: 'Inter';
        color: white;
        margin-top: 14px;
        margin-left: 30px;
        font-size: 12px;
    }

    .copyr1 {
        font-weight: 500;
        font-family: 'Inter';
        color: white;
        margin-top: 4px;
        margin-left: 30px;
        font-size: 12px;
    }

    .copyr2 {
        font-weight: 500;
        font-family: 'Inter';
        color: white;
        margin-top: 4px;
        margin-left: 30px;
        font-size: 12px;
    }

    .kartu1 {
        height: 220px;
        width: 100px;
    }

    .sosmed1 {
        font-size: 15px;
    }







}

@media only screen and (max-width: 425px) {
    .sosmed {
        font-size: 40px;
    }

    .logo {
        width: 80px;
    }

    .titleano {
        font-size: 40px;
    }

    .titleano2 {
        font-size: 40px;
    }

    .btn-primary {
        background: #262254;
        border: 0;
        padding: 15px 40px 15px 40px;
        font-size: 10px;
        font-weight: bold;
        font-family: 'Poppins';
        margin-top: 10px;
    }

    .gambar {
        margin-top: 20px;
    }
}


@media only screen and (max-width: 375px) {
    .sosmed {
        font-size: 30px;
    }
}
